* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #0b1020;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
}